{% extends "base.html" %} 
{% block header %}Lista de usuarios
<a href="{% url "home" %}" class="btn btn-primary">Voltar</a>
{% endblock header%} 
{% block content %}


{% if listP %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Editar</th>

    </tr>
  </thead>
  <tbody>
    {% for todo in listP %}
    <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.nome}}</td>
      <td>{{todo.cidade}}</td>
     <td> <a href="{% url "edit" todo.pk%}" ><img class="custom-delete" src="https://img.icons8.com/?size=100&id=cP5o9T7p7P2F&format=png&color=000000" alt="..."> </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1>Não existem pedidos </h1>
{% endif %}
<a href="{% url "form" %}" class="btn btn-primary">Fazer lançamento </a>
{% endblock content %}
